// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.



@mixin make-grid-container($columns: $grid-number-of-cols, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {

	%container {
		display: flex;
		flex-flow: row wrap;
		margin-right: auto;
		margin-left: auto;
		@supports (display: grid) {
			grid-template-columns: repeat(12, 1fr);
			display: grid;
		}
		
	}


	@each $breakpoint in map-keys($breakpoints) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);

		// Allow columns to stretch full width below their breakpoints
		@for $i from 1 through $columns {
			.container#{$infix}-#{$i} {
				@extend %container;

			}
		}

		.container#{$infix} {
			@extend %container;
		}

		.container#{$infix}-fw {
			@extend %container;
		}


		@include media-breakpoint-up($breakpoint, $breakpoints) {


			// Provide basic `.col-{bp}` classes for equal-width flexbox columns
			.container#{$infix} {
				display: flex;
				flex-flow: row wrap;

				@supports (display: grid) {
					grid-template-columns: repeat(12, 1fr);
					display: grid;
				}
			}

			// Provide basic `.col-{bp}` classes for equal-width flexbox columns
			.container#{$infix}-fw {
				display: flex;
				flex-flow: row wrap;

				@supports (display: grid) {
					grid-template-columns: repeat(12, 1fr);
					display: grid;
				}
			}

			@for $i from 1 through $columns {
				.container#{$infix}-#{$i} {
					@include make-container($i, $columns);
				}
			}

		}
	}

}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {

	// Common properties for all breakpoints
	%grid-column {
		position: relative;
		width: 100%;
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
		color: $columns;

	}

	@each $breakpoint in map-keys($breakpoints) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);

		// Allow columns to stretch full width below their breakpoints
		@for $i from 1 through $columns {
			.col#{$infix}-#{$i} {
				position: relative;
				width: 100%;
				padding-right: $gutter / 2;
				padding-left: $gutter / 2;
			}
		}

		.col#{$infix},
		.col#{$infix}-auto {
			position: relative;
			width: 100%;
			padding-right: $gutter / 2;
			padding-left: $gutter / 2;
		}

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			// Provide basic `.col-{bp}` classes for equal-width flexbox columns

			.col#{$infix} {
				@include make-col($columns, $columns); 
			}

			@for $i from 1 through $columns {
				.col#{$infix}-#{$i} {
					@include make-col($i, $columns);
				}
			}

		}
	}
}
