/* GRID LAYOUT VARIABLES */
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            6 !default;

// PADDING //
$container-padding-x: $grid-gutter-width / 2 !default;