/* LINKS */

// GENERAL //
$link-color:                              $primary !default;
$link-decoration:                         none !default;
$emphasized-link-hover-darken-percentage: 15% !default;


// ON HOVER //
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
